<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>daily_report_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeesIndexServlet</display-name>
    <servlet-name>EmployeesIndexServlet</servlet-name>
    <servlet-class>controllers.employees.EmployeesIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesIndexServlet</servlet-name>
    <url-pattern>/employees/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeesNewServlet</display-name>
    <servlet-name>EmployeesNewServlet</servlet-name>
    <servlet-class>controllers.employees.EmployeesNewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesNewServlet</servlet-name>
    <url-pattern>/employees/new</url-pattern>
  </servlet-mapping>
</web-app>